
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #182335; 
    color: #e6edf3;
    line-height: 1.5;
}


.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}


.contenedor {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 25px;
    display: none;
}


.profile {
    background: #161b22;
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
    border: 1px solid #30363d;
}


.content-main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.title {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid #30363d;
    padding-bottom: 8px;
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.project-card {
    background: #161b22;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #30363d;
    transition: 0.25s;
}

.project-card:hover {
    border-color: #58a6ff;
}



.followers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 12px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.follower-card {
    background: #161b22;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #30363d;
}

a{
    color: aliceblue;
    text-decoration: none;
}